<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Abenwood Property Solutions</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Made with <i class="fa fa-heart text-danger"></i> by <a href="">JFlynnDesigns <img src="assets/images/icons/jfd_logo.png" [style.border-radius]="'50%'" width="30" alt=""> </a>
      </div>
    </div>
  </footer><!-- #footer -->
