<!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container animated fadeIn">
        <div class="section-header">
          <h3 class="section-title" data-aos="fade-left">Facts</h3>
          <p class="section-description" data-aos="fade-up">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row counters" data-aos="fade-up">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Current Investments</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">521</span>
            <p>Happy Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,463</span>
            <p>Properties Sold</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">12</span>
            <p>Years Of Experience</p>
          </div>

        </div>

      </div>
    </section>
    <!-- #facts -->
